@{
    ViewBag.Title = "Giới Thiệu";
}
@*<div class="container-fluid-0 m-0 slider-three div-gt">
        <ul class="d-flex ul-gt" style="padding:5px;">
            <li class="product-img col-3 pt-2 li-img">
                <div class="div-img">
                    <img class="lazyloaded control" style="padding-left: 80px;" src="~/Content/images/sketch (1).png" />
                </div>
                <div class="div-text">
                    <div class="txt" id="desigh" style="padding-left:4px;">
                        <h3 style="position:relative;z-index:1; margin-left: -5px;">Giao Diện</h3>
                        <p>Trần Quốc Liêm</p>
                    </div>
                </div>

            </li>
            <li class="product-img col-3 pt-2 li-img">
                <div class="div-img">
                    <img class="lazyloaded control" style="padding-left: 80px;" src="~/Content/images/data (1).png" />
                </div>
                <div class="div-text">
                    <div class="txt" id="code">
                        <h3>Code</h3>
                        <p>Lê Nguyễn Nhật Duỹ</p>
                    </div>
                </div>
            </li>
            <li class="product-img col-3 pt-2 li-img">
                <div class="div-img">
                    <img class="lazyloaded control" style="padding-left: 80px;" src="~/Content/images/sql-server (1).png" />
                </div>
                <div class="div-text">
                    <div class="txt" id="sql">
                        <h3 style="margin-left: -30px;">Cơ Sở Dữ Liệu</h3>
                        <p>Trần Minh Trang</p>
                    </div>
                </div>
            </li>
            <li class="product-img col-3 pt-2 li-img">
                <div class="div-img">
                    <img class="lazyloaded control" style="padding-left: 80px;" src="~/Content/images/education (1).png" />
                </div>
                <div class="div-text">
                    <div class="txt" id="education" style="padding-left:10px;">
                        <h3>Thuyết Trình</h3>
                        <p>Trần Hữu Nghĩa</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>*@

<div class="container-fluid px-0 pt-3 slider-four">
    <div class="d-flex justify-content-center pt-0"><h1>Phân Công Công Việc</h1></div>
    <div class="d-flex justify-content-center pt-0"><h6><i>(rê chuột vào ảnh)</i></h6></div>
    <ul class="ul-gt d-flex justify-content-center">
        <li class="product-img">
            <div class="div-img">
                <img src="~/Content/images/sketch (1).png">
            </div>
            <div class="div-text">
                    <h3>Giao Diện</h3>
                    <p>Trần Quốc Liêm</p>
            </div>
        </li>
        <li class="product-img">
            <div class="div-img">
                <img class="lazyloaded control" src="~/Content/images/data (1).png">
            </div>
            <div class="div-text">
                <h3>Lập Trình</h3>
                <p>Lê Nguyễn Nhật Duỹ</p>
            </div>
        </li>
        <li class="product-img">
            <div class="div-img">
                <img class="lazyloaded control" src="~/Content/images/sql-server (1).png">
            </div>
            <div class="div-text">
                <h3>Cơ Sở Dữ Liệu</h3>
                <p>Trần Minh Trang</p>
            </div>
        </li>
        <li class="product-img">
            <div class="div-img">
                <img class="lazyloaded control" src="~/Content/images/education (1).png">
            </div>
            <div class="div-text">
                <h3>Thuyết Trình</h3>
                <p>Trần Hữu Nghĩa</p>
            </div>
        </li>
    </ul>
</div>
