@{
    ViewBag.Title = "Trang chủ";
}

<div class="container-fluid px-0">
    <div class="site-slider w-100">
        <div class="slider-one">
            <div>
                <img src="~/Content/images/samsung-logo.svg" class="image-fluid" alt="Banner Samsung" />
            </div>
            <div>
                <img src="~/Content/images/apple-logo.svg" class="image-fluid" alt="Banner Apple"/>
            </div>
            <div>
                <img src="~/Content/images/oppo-logo.svg" class="image-fluid" alt="Banner Oppo" />
            </div>
            <div>
                <img src="~/Content/images/huawei-logo.svg" class="image-fluid" alt="Banner Huawei" />
            </div>
        </div>
        <div class="slider-btn">
            <span class="prev position"><i class="fas fa-chevron-left"></i></span>
            <span class="next position right"><i class="fas fa-chevron-right"></i></span>
        </div>
    </div>
</div>
<div class="container">
    <div class="site-slider-two px-md-2">
        <div class="row slider-two text-center">
            <div class="col-md-2 product pt-md-5 pt-4">
                <img src="~/Content/images/oppo-reno.png" alt="Oppo Reno"/>
                <span class="border site-btn btn-span">Oppo Reno</span>
            </div>
            <div class="col-md-2 product pt-md-5 pt-4">
                <img src="~/Content/images/ss-s10.png" alt="Samsung Galaxy S10+"/>
                <span class="border site-btn btn-span">Samsung Galaxy S10+</span>
            </div>
            <div class="col-md-2 product pt-md-5 pt-4">
                <img src="~/Content/images/huawei-p30-lite.png" alt="Huawei P30-Lite"/>
                <span class="border site-btn btn-span">Huawei P30-Lite</span>
            </div>
            <div class="col-md-2 product pt-md-5 pt-4">
                <img src="~/Content/images/huawei-p30-pro-1-400x400.jpg" alt="Huewei P30 Pro" />
                <span class="border site-btn btn-span">Huewei P30-Pro</span>
            </div>
            <div class="col-md-2 product pt-md-5 pt-4">
                <img src="~/Content/images/oppo-f11-pro.png" alt="Oppo F11 Pro"/>
                <span class="border site-btn btn-span">Oppo F11 Pro</span>
            </div>
            <div class="col-md-2 product pt-md-5 pt-4">
                <img src="~/Content/images/samsung-galaxy-note-10.png" alt="Samsung Galaxy Note 10"/>
                <span class="border site-btn btn-span">Samsung Galaxy Note 10</span>
            </div>
        </div>
        <div class="slider-btn">
            <span class="prev position"><i class="fas fa-chevron-left fa-2x product-chevron"></i></span>
            <span class="next position right"><i class="fas fa-chevron-right fa-2x product-chevron"></i></span>
        </div>
    </div>
</div>
<div class="container pt-2 slider-three">
    <div class="navigat border">
        <h2>Điện thoại nổi bật</h2>
    </div>
    <ul class="homeproduct border d-flex justify-content-center">
        <li class="product-img">
            <a href="/">
                <img class="lazyloaded control" src="~/Content/images/samsung-galaxy-note-10-pink-400x400.jpg" alt="Samsung Galaxy Note 10+" />
                <h3>Samsung Galaxy Note 10+</h3>
                <div class="price">
                    <strong>22.990.000₫</strong>
                </div>
                <label class="discount2">Giảm 50%</label>
            </a>
        </li>
        <li class="product-img">
            <a href="/">
                <img class="lazyloaded control" src="~/Content/images/iphone-xr-256gb-white-400x400.jpg" alt="iPhone Xr 256GB" />
                <h3>iPhone Xr 256GB</h3>
                <div class="price">
                    <strong>21.960.000₫</strong>
                </div>
                <label class="discount2">Giảm 50%</label>
            </a>
        </li>
        <li class="product-img">
            <a href="/">
                <img class="lazyloaded control" src="~/Content/images/huawei-p30-pro-1-400x400.jpg" alt="Huawei P30 Pro" />
                <h3>Huawei P30 Pro</h3>
                <div class="price">
                    <strong>20.690.000₫</strong>
                </div>
                <label class="discount2">Giảm 50%</label>
            </a>
        </li>
        <li class="product-img">
            <a href="/">
                <img class="lazyloaded control" src="~/Content/images/iphone-xs-max-gold-400x400.jpg" alt="iPhone XS Max 64GB" />
                <h3>iPhone XS Max 64GB</h3>
                <div class="price">
                    <strong>28.990.000₫</strong>
                </div>
                <label class="discount2">Giảm 50%</label>
            </a>
        </li>
        <li class="product-img">
            <a href="/">
                <img class="lazyloaded control" src="~/Content/images/oppo-a5s-red-400x400.jpg" alt="Oppo A5s" />
                <h3>Oppo A5s</h3>
                <div class="price">
                    <strong>3.690.000₫</strong>
                </div>
                <label class="discount2">Giảm 50%</label>
            </a>
        </li>
        <li class="product-img">
            <a href="/">
                <img class="lazyloaded control" src="~/Content/images/samsung-galaxy-a50s-green-400x400.jpg" alt="Samsung Galaxy A50s" />
                <h3>Samsung Galaxy A50s</h3>
                <div class="price">
                    <strong>7.790.000₫</strong>
                </div>
                <label class="discount2">Giảm 50%</label>
            </a>
        </li>
        <li class="product-img">
            <a href="/">
                <img class="lazyloaded control" src="~/Content/images/iphone-7-plus-32gb-gold-400x400.jpg" alt="iPhone 7 Plus 32GB" />
                <h3>iPhone 7 Plus 32GB</h3>
                <div class="price">
                    <strong>12.490.000₫</strong>
                    <span>13.990.000₫</span>
                </div>
                <label class="discount1">
                    Giảm 1.500.000₫
                </label>
            </a>
        </li>
        <li class="product-img">
            <a href="/">
                <img class="lazyloaded control" src="~/Content/images/xiaomi-redmi-note-7-64gb-trang-1-400x400.jpg" alt="Xiaomi Redmi Note 7 64GB Trắng" />
                <h3>Xiaomi Redmi Note 7 64GB Trắng</h3>
                <div class="price">
                    <strong>4.690.000₫</strong>
                    <span>4.990.000₫</span>
                </div>
                <label class="discount1">Giảm 300.000₫</label>
            </a>
        </li>
        <li class="product-img">
            <a href="/">
                <img class="lazyloaded control" src="~/Content/images/realme-c2-16gb-new-blue-400x400.jpg" alt="Realme C2 (2G/16G)" />
                <h3>Realme C2 (2G/16G)</h3>
                <div class="price">
                    <strong>2.590.000₫</strong>
                </div>
            </a>
        </li>
        <li class="product-img">
            <a href="/">
                <img class="lazyloaded control" src="~/Content/images/vivo-y91c-400x400.jpg" alt="Vivo Y91C" />
                <h3>Vivo Y91C</h3>
                <div class="price">
                    <strong>2.590.000₫</strong>
                </div>
            </a>
        </li>
    </ul>
</div>
<div class="container pt-2 slider-four">
    <div class="navigat border">
        <h2>Tablet nổi bật</h2>
    </div>
    <ul class="homeproduct border d-flex justify-content-center">
        <li class="product-img">
            <a href="/">
                <img class="lazyloaded control" src="~/Content/images/samsung-galaxy-tab-s5e-t725-2019-silver-600x600.jpg" alt="Samsung Galaxy Tab S5E T725 (2019)">
                <h3>Samsung Galaxy Tab S5E T725 (2019)</h3>
                <div class="price">
                    <strong>12.490.000₫</strong>
                    <span>60.990.000₫</span>
                </div>
                <label class="discount1">Giảm 48.500.000₫</label>
            </a>
        </li>
        <li class="product-img">
            <a href="/">
                <img class="lazyloaded control" src="~/Content/images/samsung-galaxy-tab-s6-400x400.jpg" alt="Samsung Galaxy Tab S6" />
                <h3>Samsung Galaxy Tab S6</h3>
                <div class="price">
                    <strong>18.490.000₫</strong>
                </div>
                <label class="discount2">Giảm 50%</label>
            </a>
        </li>
        <li class="product-img">
            <a href="/">
                <img class="lazyloaded control" src="~/Content/images/ipad-air-105-inch-wifi-2019-gold-400x400.jpg" alt="iPad Air 11 inch Wifi 64GB" />
                <h3>iPad Air 11 inch Wifi 64GB</h3>
                <div class="price">
                    <strong>21.490.000₫</strong>
                    <span>21.990.000₫</span>
                </div>
                <label class="discount1">Giảm 500.000₫</label>
            </a>
        </li>
        <li class="product-img">
            <a href="/">
                <img class="lazyloaded control" src="~/Content/images/samsung-galaxy-tab-a8-t295-2019-silver-600x600.jpg" alt="Samsung Galaxy Tab A8 8 inch t295 (2019)">
                <h3>Samsung Galaxy Tab A8 8" T295 (2019)</h3>
                <div class="price">
                    <strong>3.490.000₫</strong>
                    <span>3.990.000₫</span>
                </div>
                <label class="discount1">Giảm 500.000₫</label>
            </a>
        </li>
        <li class="product-img">
            <a href="/">
                <img class="lazyloaded control" src="~/Content/images/samsung-galaxy-tab-a8-plus-p205-black-400x400.jpg" alt="Samsung Galaxy Tab A8 8 inch spen (2019)" />
                <h3>Samsung Galaxy Tab A8 8" SPen (2019)</h3>
                <div class="price">
                    <strong>6.490.000₫</strong>
                    <span>6.990.000₫</span>
                </div>
                <label class="discount1">Giảm 500.000₫</label>
            </a>
        </li>
</div>